@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
}
header{
    border-bottom: 1px solid #eee2;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: relative;
    z-index: 10;
}
.banner{
    background-image: 
    linear-gradient(
        to bottom, #0009, transparent, #0009
    ),
    url(image/1.jpg);
    width: 100%;
    height: 100vh;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner::after{
    position: absolute;
    content: '';
    inset: 0 0 0 0;
    background-image: url(image/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner .content{
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gabarito', cursive;
    font-size: 12px;
    text-transform: uppercase;
}
.banner .content div:nth-child(1){
    font-size: 3em;
}
.banner .content div:nth-child(2){
    font-size: 20em;
    color: #dae2db;
}
.banner .content div button{
    border: 1px solid #eee7;
    background-color: transparent;
    color: #eee;
    padding: 10px 20px;
    letter-spacing: 5px;
}
@media screen and (max-width: 1200px) {
    .banner .content{
        font-size: 9px;
    }
}
@media screen and (max-width: 992px) {
    .banner .content{
        font-size: 7px;
    }
}
@media screen and (max-width: 678px) {
    .banner .content{
        font-size: 4px;
    }
}